tittle
{
    font-size: xx-large;
    font-weight: bolder;
    
    color: rgb(18, 241, 66);
    border: 0.90px solid rgb(45, 141, 206);
    margin-left: 100px;
    text-align: center;
        margin: 450px;
        width: 50%;
        padding: 15px;
    

}
form{
    border: 10px solid gray;
    border-style: dotted;
    border-radius: 10px;
}
body
{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCiPsZCoHkPzJ8mU3SWDpum2H2tDJU-UnegA&usqp=CAU);
background-repeat: no-repeat;
background-size: cover;
opacity: ;
}
#intro{
    font-size: medium;
    color: rgb(93, 93, 97);
    font-weight: 50px;

}
h1
#animals{
    font-size: larger;
    font-family: 'New Roman';
    font-weight: 300px;
    font-style: normal;
    padding: 10px;
    line-height: 6px;

}
#wild{
    border: 15px solid rgb(8, 8, 8);
    border-width: 0.45px;
    height: 150px;

}
#eleph{
    border: 15px solid rgb(8, 8, 8);
 border-width:0.45px ;
 height: 150px;
}
#cubs{
    border: 15px solid rgb(8, 8, 8);
    border-width: 0.45px;
    height: 150px;
}
h2
p{
    font-size: larger;
    font-family:'Calibri';
    font-weight: 300px;
    font-style: normal;
    padding: 50px,50px,20px;
}

