tittle
{
    font-size: xx-large;
    font-weight: bolder;
    color: aqua;
    border: 1px solid purple;
    margin-left: 100px;

}
body
{background-image: url(https://images.unsplash.com/photo-1473081556163-2a17de81fc97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlJTIwZGFya3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
background-size: cover;
opacity: ;
}
#intro{
    font-size: medium;
    color: rgb(93, 93, 97);
    font-weight: 50px;

}
h1
#animals{
    font-size: larger;
    font-family: 'New Roman';
    font-weight: 300px;
    font-style: normal;
    padding: 10px;
    line-height: 6px;

}
#wild{
    border: 15px solid rgb(8, 8, 8);
    border-width: 0.45px;
    height: 150px;

}
#eleph{
    border: 15px solid rgb(8, 8, 8);
 border-width:0.45px ;
 height: 150px;
}
#cubs{
    border: 15px solid rgb(8, 8, 8);
    border-width: 0.45px;
    height: 150px;
}
h2
p{
    font-size: larger;
    font-family:'Calibri';
    font-weight: 300px;
    font-style: normal;
    padding: 50px,50px,20px;
}

